/* RegistrationForm.css */

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #efe9ed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  h2{
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
  }
  form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
  }
  
  h1 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #495057;
    font-weight: 600;
  }
  
  input {
    width: 80%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button:hover {
    background-color: #0056b3;
    transform: translateY(-1px);
  }
  
  button:active {
    transform: translateY(0);
  }
  